<p>Le Anh Thang</p>

<p>Title</p>
<input type="text" id="title" value="Title" placeholder="">
<p>Body</p>
<textarea name="" id="body"></textarea><br>
<input type="button" value="Add Post" id="btn-add">
<ul>
<% @post.each do |a| %>  
  <li>
    <span>Title:</span> <%= a.title %>;
    <span>Body:</span> <%= a.body %>;
  </li>  
<% end %>
</ul>
<!-- Script -->
<script type="text/javascript">
  $(document).ready(function() {
    // Click button refresh
    $("#btn-add").click(function(event) {
      var url = window.location.href,
          data = {authenticity_token: '<%= form_authenticity_token %>', title: $("#title").val(),body: $("#body").val()}; 
      $.ajax({
        type: 'post',
        url: "/post/create",
        data: data,
        beforeSend: function(){ 
          ajax_loading(); 
        }
      })
      .done(function() {
        $("ul").append("<li style='color: red;' > Title: "+$("#title").val()+"; Body: "+$("#body").val()+";</li>");         
      })
      .fail(function() {
        alert("error");
      })
      .always(function() {
        $(".ajax-loading").remove();
      });
    });    
  });
</script>
